
.left-side{
    margin-left:73px
}
.price-range{
    color: #1E2046;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}
.range{
    outline: none;
}
.text{
    margin-left:80px
}